/* Clear margins and padding */
body {
    margin: 0px;
    background-color: #1060c2;
}

/* Parallax scrolling behavior */
/* Parallax wrapper */
.parallaxScrolling {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 3px;
}

/* Upper part of the page - the header image */
header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

/* The sun and the hills */
.background {
    transform: translateZ(-7px) scale(5.5);
    padding-bottom: 10vh;
}

/* The trees */
.closeBackground {
    transform: translateZ(-4px) scale(2.5);
    padding-bottom: 7vh;
}

/* The figure */
.foreground {
    transform: translateZ(-3px) scale(1.5);
    padding-top: 10vh;
}

/* The ribbons */
.ribbon2 {
    transform: translateZ(-0.8px) scale(1.7);
    padding-bottom: 1vh;
}

.ribbon3 {
    transform: translateZ(-0.2px) scale(1.2);
    padding-bottom: 10vh;
}

/* Common attributes */
.background, .closeBackground, .foreground, .ribbon2, .ribbon3 {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
}

/* Buttons Block */
.buttons {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: auto;
    z-index: 5;
}

.button {
    font-size: 3vw;
    padding: 2vw;
    color: blue;
}

.mainText {
    font-size: 2rem;
    padding: 2rem;
    background-color: #1060c2;
    color: white;
    z-index: 5;
}